NB-IoT/flows_backup_7112021.json
[{"id":"5b890ccf.cfd994","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"15ba71b4.6631ee","type":"inject","z":"5b890ccf.cfd994","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"data","payload":"{\"Rain_Gauge\":1.5,\"Water_Level\":8,\"Temperature\":10,\"pH\":8,\"Conductivity\":1.3}","payloadType":"json","x":130,"y":300,"wires":[["15f5b048.b455a"]]},{"id":"505b2048.05322","type":"mqtt in","z":"5b890ccf.cfd994","name":"","topic":"data","qos":"2","datatype":"auto","broker":"5a1f73f9.025c0c","nl":false,"rap":false,"x":100,"y":200,"wires":[["3fb65820.635778"]]},{"id":"15f5b048.b455a","type":"mqtt out","z":"5b890ccf.cfd994","name":"","topic":"data","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5a1f73f9.025c0c","x":340,"y":280,"wires":[]},{"id":"2badfb8b.a7b1d4","type":"debug","z":"5b890ccf.cfd994","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":580,"y":180,"wires":[]},{"id":"2d8cf389.c43d7c","type":"function","z":"5b890ccf.cfd994","name":"","func":"msg.topic = \"INSERT INTO DataBanjir (Rain_Gauge, Water_Level, Temperature, pH, Conductivity)\" + \n            \" VALUES(\" + \n            msg.payload.Rain_Gauge + \",\" +\n            msg.payload.Water_Level + \",\" +\n            msg.payload.Temperature + \",\" +\n            msg.payload.pH + \",\" +\n            msg.payload.Conductivity + \")\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":140,"wires":[["2badfb8b.a7b1d4","c91e3323.08caf"]]},{"id":"3fb65820.635778","type":"json","z":"5b890ccf.cfd994","name":"","property":"payload","action":"","pretty":false,"x":180,"y":140,"wires":[["2d8cf389.c43d7c"]]},{"id":"c91e3323.08caf","type":"mysql","z":"5b890ccf.cfd994","mydb":"fe8cc6b6.d28218","name":"","x":590,"y":120,"wires":[[]]},{"id":"13b7985e.151098","type":"http in","z":"5b890ccf.cfd994","name":"rest","url":"/testone","method":"post","upload":false,"swaggerDoc":"","x":120,"y":360,"wires":[["d55ea830.d56748","702d6a3a.cab964"]]},{"id":"d55ea830.d56748","type":"json","z":"5b890ccf.cfd994","name":"","property":"payload","action":"","pretty":false,"x":270,"y":360,"wires":[["15f5b048.b455a"]]},{"id":"702d6a3a.cab964","type":"function","z":"5b890ccf.cfd994","name":"","func":"var status = 0\nif (msg.payload.dev_id &&\n    msg.payload.rainfall &&\n    msg.payload.level)\n{\n    status = 1\n}\nmsg.payload.status = status\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":400,"wires":[["d2e7f5b.d55e708"]]},{"id":"d2e7f5b.d55e708","type":"switch","z":"5b890ccf.cfd994","name":"Router","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":400,"wires":[["b3ee699e.269688"],["9dcc6246.7a8b3"]]},{"id":"b3ee699e.269688","type":"http response","z":"5b890ccf.cfd994","name":"Response OK","statusCode":"200","headers":{"content-type":"application/json"},"x":610,"y":340,"wires":[]},{"id":"9dcc6246.7a8b3","type":"http response","z":"5b890ccf.cfd994","name":"Response Bad","statusCode":"400","headers":{"content-type":"application/json"},"x":610,"y":400,"wires":[]},{"id":"5a1f73f9.025c0c","type":"mqtt-broker","name":"","broker":"103.163.139.48","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"fe8cc6b6.d28218","type":"MySQLdatabase","name":"","host":"localhost","port":"3306","db":"DB_Banjir","tz":"","charset":"UTF8"}]